
.input-error {
    -fx-border-color: red;
}

.txt-success-message {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-fill: green;
}

.txt-error-message {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-fill: red;
}

.titlebar {
    -fx-background-color: #fe9003;
}

.footer {
    -fx-background-color: #c0c0c0;
}

.input-cell {
    -fx-background-radius: 0;
    -fx-background-color: #c0c0c0;
    -fx-font-weight: bold;
}

.lblClockTime {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.about-header {
    -fx-background-color: #ccc;
}

.lbl-answer-item {
    -fx-border-color: green;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.lbl-answer-item-selected {
    -fx-border-color: green;
    -fx-border-radius: 20px;
    -fx-background-color: green;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}