@font-face {
    src: url('digital-7.ttf');
}

@font-face {
    src: url('iran_sans_medium.ttf');
}

.root {
    -fx-font-family: "IRANSans Medium";
    -fx-text-fill: #000;
    /*-fx-font-family: "IRANSans Medium";*/
}

.input-error {
    -fx-border-color: red;
}

.txt-success-message {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: green;
    -fx-fill: green;
}

.txt-error-message {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-fill: red;
}

.titlebar {
    -fx-background-color: #fe9003;
}

.footer {
    -fx-background-color: #c0c0c0;
}

.input-cell {
    -fx-background-radius: 0;
    -fx-background-color: #c0c0c0;
    -fx-font-weight: bold;
}

.lbl-timer {
    -fx-font-family: "Digital-7";
    -fx-font-size: 30px;
}

.lblClockTime {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}

.about-header {
    -fx-background-color: #ccc;
}

.hb-subject-header-container {
    -fx-background-color: #032d57;
}

.lbl-subject-section {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-background-color:  #032d57;
}

.lbl-subject-section:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #0674e2;
    -fx-cursor: hand;
}

.lbl-subject-section-selected {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-background-color:  #0674e2;
}

.lbl-subject-answer {
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
}

.lbl-answer-number {
    -fx-font-size: 18px;
    -fx-font-weight: bold;

}

.lbl-answer-item {
    -fx-border-color: green;
    -fx-border-radius: 15px;
    -fx-border-width: 2px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.lbl-answer-item-selected {
    -fx-border-color: green;
    -fx-border-radius: 15px;
    -fx-background-color: green;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* dashboard panel items */
.dash-item-hr-container {
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width:  5px;
    -fx-border-color:  #fe9003;
    -fx-background-color:  lightgray;
    -fx-background-radius: 5px;
}

.dash-item-hr-container .progress-indicator .percentage {
    -fx-fill:null;
}

.dash-item-hr-container .progress-indicator  {
    -fx-padding: 0 0 -20 0;
}

.question-item-view {
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-width:  2px;
    -fx-border-color:  #fe9003;
}
/* pagination style */
/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #58379A;
    -fx-text-fill: white;
}

/* Remove spacing and control font size */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 12;
}